.container{
    height: 90vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{

    width: 20%;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}
button{
    width: 10%;
    outline: none;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
button:hover{
    scale: 1.1;
    background-color: rgb(240, 219, 219);

}